:root {
    --nav-item-color: #212121;
    --contact-item-header-color: #757575;
    --main-color: #2196f3;
    --button-color: #ffffff;
    --footer-color: #75757580;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

img,
svg {
    vertical-align: middle;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

/* NAWIGACJA HEADER */

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    border-bottom: 2px solid #ececec;
    padding: 24px 0 25px;
}

.header__nav {
    display: flex;
    color: #212121;
    font-size: 14px;
    line-height: 1.14;
    align-items: center;
    gap: 93px;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-list {
    display: flex;
    gap: 46px;
    justify-content: center;
    align-items: center;
    color: #212121;
    font-size: 14px;
    line-height: 1.14;
    list-style: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu-link {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.header__link-active::after {
    background-color: var(--main-color);
    content: '';
    position: absolute;
    width: 53px;
    height: 4px;
    top: 46px;
    border-radius: 2px;
    left: 0;
}

.header__link-active {
    color: #2196f3;
}

.contacts__icons__menu-link:hover::after,
.header__menu-link:focus::after {
    background-color: var(--main-color);
    content: '';
    position: absolute;
    justify-content: center;
    width: 53px;
    height: 4px;
    top: 46px;
    border-radius: 2px;
    left: 0;
}

.header__menu-link:hover .header--icons {
    color: var(--contact-item-header-color);
    align-items: center;
    fill: var(--contact-item-header-color);
}
.header--icons {
    fill: #757575;
}
.header--icons > a > svg {
    margin-right: 10px;
}

.contacts a:hover,
.contacts a:focus {
    fill: var(--main-color);
}

ul {
    list-style: none;
}

.contacts {
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts a {
    text-decoration: none;
    color: var(--contact-item-header-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-list a:hover,
.header__nav-list a:focus,
.contacts a:hover,
.contacts a:focus {
    color: var(--main-color);
}

/* LOGO */

.logo {
    text-decoration: none;
    font-family: 'Raleway';
    color: var(--main-color);
    font-size: 26px;
    line-height: 1.17;
}

.logo--black {
    color: #000000;
}
.logo--white {
    color: #ffffff;
}

/* SEKCJA Z BUTTONEM */

.dark-bg {
    background: #2f303a;
    justify-content: center;
}

.order-box {
    display: flex;
    background: #2f303a;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url('../images/img-team.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.order-box > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-box__heading {
    color: #ffffff;
    font-size: 44px;
    line-height: 1.36;
    padding-top: 106px;
    padding-right: 252px;
    padding-left: 252px;
    text-align: center;
}

.order-box__btn {
    width: 200px;
    height: 50px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 106px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* SEKCJA BUTTON PORTFOLIO */

.box-list {
    display: flex;
    list-style: none;
    font-style: normal;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.box-list__btn {
    width: 121px;
    height: 38px;
    color: #000000;
    font-size: 16px;
    line-height: 1.62;
    line-height: 26px;
    letter-spacing: 0.03em;
    border: none;
    outline: none;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-list__btn:hover,
.box-list__btn:focus {
    background-color: var(--main-color);
    color: var(--button-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* SEKCJA ZDJECIA Z OPISEM PORTFOLIO */

figcaption {
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
    padding: 20px 24px;
}

.graphics-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.graphics-box--grid {
    margin: 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.graphics-box--grid:hover,
.graphics-box--grid:focus {
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.graphics-box--grid:hover .graphics-box--grid:focus {
    box-shadow: 0px 1px 1p rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.graphics-box--grid:hover .graphics-box__throw {
    transform: translateY(0);
}

.graphics-box__item {
    display: flex;
    position: relative;
    overflow: hidden;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.graphics-box__throw {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(294px);
    transition: transform 150ms ease-in-out;
    background-color: rgba(33, 150, 243, 0.9);
}

.graphics-box__throw p {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: left;
    padding: 49px 24px;
}
.graphics-box__projects {
    color: #212121;
    display: block;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
}

.graphics-box__project-name {
    color: var(--contact-item-header-color);
    display: block;
    text-align: left;
    font-size: 16px;
    line-height: 1.87;
}

/* SEKCJA Z OPISEM */

.articles {
    display: flex;
    gap: 30px;
    padding-top: 7px;
}

.articles h2 {
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 9.31px;
}
.articles p {
    text-decoration: none;
    color: var(--contact-item-header-color);
    font-size: 14px;
    line-height: 1.71;
}

.articles h2 {
    margin-top: 30px;
}

.articles,
.job-descr {
    list-style: none;
}

/* SEKCJA CZYM SIE ZAJMUJEMY */

.job-descr {
    display: flex;
    text-align: center;
    line-height: 1.16;
    gap: 30px;
    position: relative;
    list-style: none;
}

.job-descr__name {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: 370px;
    height: 70px;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
.job-descr--position {
    position: relative;
}

/* SEKCJA NASZ ZESPOL */

.gray-bg {
    background-color: #f5f4fa;
}

.job-card {
    display: flex;
    text-align: center;
    font-size: 36px;
    line-height: 1.16;
    gap: 30px;
    padding-left: 15px;
}

.job-card--team {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.title {
    color: #212121;
    text-align: center;
    font-size: 36px;
    line-height: 1.16;
    padding-right: 15px;
    padding-bottom: 44px;
    padding-left: 15px;
}

.job-card--bg {
    background-color: #ffffff;
    padding: 30px 0px;
}

.job-card__social-media {
    display: flex;
    fill: #afb1b8;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
    transition: background-color 250ms ease, fill 250ms ease;
}
.job-card__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: #afb1b8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.job-card__social-media a:hover,
.job-card__social-media a:focus {
    background-color: var(--main-color);
    fill: #fff;
}

.job-card__worker {
    color: #212121;
    display: block;
    font-size: 16px;
    line-height: 1.18;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.job-card__position {
    display: block;
    color: var(--contact-item-header-color);
    font-size: 16px;
    line-height: 1.18;
}

/* SEKCJA NASI KLIENCI */

.photo-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.photo-list__border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-list__border svg {
    fill: #afb1b8;
    transition: background-color 250ms ease, fill 250ms ease;
}
.photo-list__border:hover,
.photo-list__border:focus {
    border: 1px solid var(--main-color);
}
.photo-list__border:hover > svg {
    fill: var(--main-color);
}
.photo-list__border:focus > svg {
    fill: var(--main-color);
}

/* SEKCJA FOOTER ADRES */

.darg-bg--footer-padding {
    padding: 60px 0;
}

.footer-box {
    display: flex;
    gap: 10px;
}

.addres-box {
    display: flex;
    flex-direction: column;
}
.addres-box__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-style: normal;
    margin-top: 20px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addres-box__list a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addres-box__contact {
    color: var(--contact-item-header-color);
    font-size: 14px;
    text-decoration: none;
    line-height: 1.71;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addres-box__contact:hover,
.addres-box__contact:focus,
.addres-box--no-underline:hover,
.addres-box--no-underline:focus {
    color: var(--main-color);
}

.addres-box--no-underline {
    text-decoration: none;
    color: var(--contact-item-header-color);
}

.address {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.71;
}

.section {
    padding: 94px 0px;
}
.container {
    width: 1200px;
    padding: 0px 15px 0px 15px;
    margin: 0 auto;
}

*:focus {
    outline: none;
}

/* SEKCJA MEDIA SPOLECZNOSCIOWE */

.join-box__items {
    display: flex;
    gap: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-box__items a:hover,
.join-box__items a:focus {
    background-color: var(--main-color);
    transition-duration: 250ms;
}

.join-box {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-left: 66px;
}

.join-box__title {
    color: #ffffff;
    display: flex;
    line-height: 1.14;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.join-box__social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    gap: 10px;
    fill: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* SEKCJA NEWSLETTER FOOTER*/

.news-box {
    display: flex;
}

.newsletter {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-left: 74px;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

.newsletter__box {
    color: #ffffff99;
    height: 50px;
    width: 358px;
    padding-left: 16px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
}

.newsletter__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 1.875;
    width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    margin-left: 12px;
    font-weight: 700;
    color: #ffffff;
    background-color: #2196f3;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.newsletter__svg {
    display: inline-block;
    margin-left: 24px;
    fill: #ffffff;
}

/* OKNO MODALNE*/

.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.backdrop.is-hidden .backdrop__modal {
    transform: translateY(-150%) scale(0.4);
}

.backdrop__modal {
    position: relative;
    margin: auto;
    width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 600ms;
}

.is-hidden {
    opacity: 0;
    transition-property: visibility, opacity;
    transition-timing-function: ease;
    transition-duration: 250ms;
    visibility: hidden;
    pointer-events: none;
}

.backdrop__box {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

.backdrop__box p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.172;
    letter-spacing: 0.03em;
}

.backdrop--label {
    font-size: 12px;
    margin-bottom: 4px;
    margin-top: 10px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--contact-item-header-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--icon {
    position: absolute;
    top: 13px;
    left: 13px;
}
.backdrop--input {
    width: 448px;
    height: 40px;
    padding-left: 33px;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: var(--contact-item-header-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--input:focus {
    border: 1px solid var(--main-color);
    border-radius: 4px;
    outline: none;
    fill: var(--main-color);
}

.input-box:focus + .footer-icon {
    fill: var(--main-color);
}

.backdrop--comment:hover,
.backdrop--comment:focus {
    border: 1px solid var(--main-color);
    border-radius: 4px;
    outline: none;
    fill: var(--main-color);
}

.backdrop--comment {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: var(--footer-color);
    font-size: 12px;
    line-height: 1.172;
    letter-spacing: 0.01em;
    height: 120px;
    appearance: none;
    padding-top: 12px;
    padding-left: 16px;
    margin: 0;
    resize: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__statute {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    margin-top: 20px;
    margin-bottom: 30px;
    color: var(--contact-item-header-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__statute a {
    color: var(--main-color);
}
.backdrop--svg-color {
    position: absolute;
    opacity: 0;
    top: -1px;
    left: -1px;
}

.backdrop__send-btn {
    margin-bottom: 46px;
    margin-left: 114px;
    width: 200px;
    height: 50px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__modal-checkbox {
    display: flex;
    position: relative;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid var(--nav-item-color);
    margin-left: 8px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--hidden-checkbox {
    display: none;
}

.backdrop--hidden-checkbox:checked + .backdrop__modal-checkbox > .backdrop--svg-color {
    opacity: 1;
}
