@use '/sass/utils/variables' as *;
@import '/sass/components/header';
@import '/sass/utils/variables';
@import '/sass/components/logo';
@import '/sass/components/order-box-btn';
@import '/sass/components/btn-portfolio.scss';
@import '/sass/components/graphics-box.scss';
@import '/sass/components/articles';
@import '/sass/components/job-card.scss';
@import '/sass/components/photo-list';
@import '/sass/components/footer-adress';
@import '/sass/components/social-media';
@import '/sass/components/footer-newsletter';
@import '/sass/components/backdrop';


body {
    font-family: 'Roboto', sans-serif;
    background-color: $button-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

img,
svg {
    vertical-align: middle;
}

.container {
    width: 1200px;
    padding: 0px 15px 0px 15px;
    margin: 0 auto;
}

.section {
    padding: 94px 0px;
}

*:focus {
    outline: none;
}