.header {
    border-bottom: 2px solid #ececec;
    padding: 24px 0 25px;

    .container--size {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;
        color: $nav-item-color;
        font-size: 14px;
        line-height: 1.14;
        align-items: center;
        gap: 93px;
        justify-content: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__nav-list {
        display: flex;
        gap: 46px;
        justify-content: center;
        align-items: center;
        color: $nav-item-color;
        font-size: 14px;
        line-height: 1.14;
        list-style: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__menu-link {
        color: $menu-link-color;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
    }

    &__link-active {
        color: $main-color;
    }

    &__link-active::after {
        background-color: $main-color;
        content: '';
        position: absolute;
        width: 53px;
        height: 4px;
        top: 46px;
        border-radius: 2px;
        left: 0;
    }

    &__menu-link:focus::after {
        background-color: $main-color;
        content: '';
        position: absolute;
        justify-content: center;
        width: 53px;
        height: 4px;
        top: 46px;
        border-radius: 2px;
        left: 0;
    }
    &__menu-link:hover &--icons {
        color: $contact-item-header-color;
        align-items: center;
        fill: $contact-item-header-color;
    }
    &--icons {
        fill: #757575;
    }

    &__nav-list a:hover,
    &__nav-list a:focus {
        color: $main-color;
    }
}

.header--icons > a > svg {
    margin-right: 10px;
}

ul {
    list-style: none;
}


.contacts {
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .a {
        text-decoration: none;
        color: $contact-item-header-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .a:hover,
    .a:focus {
        fill: $main-color;
    }
}

.contacts__icons__menu-link:hover::after {
    background-color: $main-color;
    content: '';
    position: absolute;
    justify-content: center;
    width: 53px;
    height: 4px;
    top: 46px;
    border-radius: 2px;
    left: 0;
}
